/*NAVBAR*/

.logo-Image {
    max-width: 40%;
    height: auto;
}
  
.nav-item {
    font-size: 20px;
    font-weight: bold;
}
  
.navbar-sticky {
    position: sticky;
    top: 0;
    /* to ensure that navbar is always at the top */
    z-index: 100;
    /* to ensure that navbar is always above other things when you scroll */
}
  
h1 {
    text-align: center;
}

#projectBackground3 {
    background-image: url("../img/backgroundAboutUs.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#projectsWelcoming2 {
    width: auto;
    height: 35vh;
    color: rgba(10, 6, 26, 1);
    font-weight: bold;
}

/*SECTION STYLING*/

/*Philosophy / Projects */

.section-1 {
    margin: 75px 100px 75px 100px;
}

.section-1 img {
    width: 100%;
    padding: 0;
}

/*About us section*/

.about {
    margin-top: 50px;
}
  
.about-us-text {
    text-align: left;
}

/*History / Client reviews*/

.section-2 {
    text-align: center;
    background-color: rgba(10, 6, 26, 1);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*BUTTON*/

.button1 {
    color: white;
    background-color: rgba(10, 6, 26, 1);
    border: none;
    width:12vh;
    text-align: center;
  }
  
  .button1:hover {
    background-color: rgb(238, 194, 0);
    color: rgba(10, 6, 26, 1);
    transition: 0.7s;
  }
  .button1 a{
    text-decoration: none;
    color: white;
    text-align: center;
  }

/*STARS*/

.rating2 {
    color: gold;
  }

/* SOCIAL ICONS FOOTER */

.social-icons {
    margin-top: 60px;
  }
  
  .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .social-icons a:hover {
    color: rgba(10, 6, 26, 1);
    transform: translateY(-5px);
  }

/*FOOTER*/

footer {
    background-color: rgb(160, 160, 160);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
  footer img {
    max-width: 100%;
    height: auto;
  }
  
  .contact-info {
    float: left;
    text-align: left;
    margin-left: 100px;
  }