/*NAVBAR*/

#projectBackground3 {
    background-image: url("../img/backgroundAboutUs.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#projectsWelcoming2 {
    width: auto;
    height: 35vh;
    color: rgba(10, 6, 26, 1);
    font-weight: bold;
}

/*SECTION STYLING*/

/*Philosophy / Projects */

.section-1 {
    margin: 75px 100px 75px 100px;
}

.section-1 img {
    width: 100%;
    padding: 0;
}

/*About us section*/

.about {
    margin-top: 50px;
}

/*History / Client reviews*/

.section-2 {
    text-align: center;
    background-color: rgba(10, 6, 26, 1);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*BUTTON*/

.button1 {
    color: white;
    background-color: rgba(10, 6, 26, 1);
    border: none;
    width:12vh;
    text-align: center;
  }
  
  .button1:hover {
    background-color: rgb(238, 194, 0);
    color: rgba(10, 6, 26, 1);
    transition: 0.7s;
  }
  .button1 a{
    text-decoration: none;
    color: white;
    text-align: center;
  }

/*STARS*/

.rating2 {
    color: gold;
  }

