


#projectBackground4 {
    background-image: url("../img/via.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .email {
    background-color: rgba(10, 6, 26, 1);
  }
  
  .map-responsive{
    overflow: hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  
#projectsWelcoming2 {
    height: 35vh;
    color: rgba(10, 6, 26, 1);
}