#servicesBackground {
    background-image: url(../img/servicesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.BackgroundBlueServices {
    background-color: rgba(10, 6, 26, 1);
}

#projectsWelcoming {
    width: auto;
    height: 35vh;
    color: rgba(10, 6, 26, 1);
}